@model List<Shop.Model.Entities.Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h1><center><b>Danh Sách Liên hệ khách hàng</b></center></h1>
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ và tên</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        <th>Tin nhắn</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Adress</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Message</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>