@model List<Shop.Model.Entities.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h1><center><b>Danh sách tour</b></center></h1>
            <a href="/Administrator/Product/Create" class="btn btn-primary mb-2">Thêm mới</a>
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên loại Tour</th>
                        <th>Giá</th>
                        <th>Giá khuyến mãi</th>
                        <th>Ngày Thêm</th>
                        <th>Số người</th>
                        <th>Ngày</th>
                        <th>Đánh Giá</th>
                        <th>Mô tả</th>
                        <th>Chức Năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.Promotion</td>
                            <td>@item.DaySubmit</td>
                            <td>@item.Amountofpeople</td>
                            <td>@item.Day</td>
                            <td>@item.Evaluate</td>
                            <td>@item.Description</td>
                            <td>
                                <a href="/Administrator/Product/Edit/@item.Id"><i>Sửa</i></a>
                                <a href="/Administrator/Product/Delete/@item.Id" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này không ?');"><i class="bi bi-basket-fill">Xóa</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>